<%= javascript_include_tag "grapher/graph" %>
<%= stylesheet_link_tag "grapher/grapher" %>

<div>
	<%= graph("day", :class => 'test', :interpolate => "step-before", :xinterval => 20, :yinterval => 2) do |g| %>
		<% g.line(User, :column => :created_at, :label => "Update", :color => 'green') %>
		<% g.line(User, :column => :updated_at, :label => "Average"){|r| r.average(:value)} %>
	<% end %>
</div>

<div>
	<%= graph("day") do |g| %>
		<% g.line(User, :column => :created_at, :label => "Update") %>
	<% end %>
</div>


